{% extends 'layout.html' %} {% block content %}
<br>
<br>
<h1 class="container" style="text-align: center">𝐖𝐞𝐥𝐜𝐨𝐦𝐞 𝐭𝐨 𝐊𝐢𝐨𝐬𝐤 𝐀𝐩𝐩</h1>
<!-- Product display will go here -->
<br>
<div class="container mt-4">
  <div class="row">
    {% for product in products %}
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 mb-4">
      <div class="card h-100">
        <img
          src="{{url_for('static',filename = product[4])}}"
          class="card-img-top product-image" 
          alt="{{ product.name }}"
          data-bs-toggle="modal"
          data-bs-target="#imageModal"
          onclick="showImageinModal(this.src)"
        />
        <div class="card-body">
          <h4 class="card-title">{{ product[1]}}</h4>
          <p class="card-text">
            Price: {{ product[3] }} per {{ product.unit }}
          </p>
          <button
            type="button"
            class="btn btn-primary add-item" 
            onclick="addItemToCart('{{ product[3] }}')"
          >
            Add to Basket
          </button>
          <!-- Other button elements -->
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

  {% include 'modals/image_modal.html' %}
  <!-- Total Cost Display -->
  <br>
  <div class="text-end mt-4">
    <h3>𝐓𝐨𝐭𝐚𝐥 𝐏𝐫𝐢𝐜𝐞: ₱ <span id="totalCost">0</span></h3>
  </div>
</div>

{% endblock %}


