<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MKNR Palengke Kiosk</title>
    <!-- Bootstrap CSS Link -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/bootstrap.min.css') }}"
    />
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-lg" style="background-color: #AAD9BB;">
        <div class="container">
          <a class="navbar-brand" href="/"><img src="static/images/logo.jpg" height="60px" width="100px"></a>
          <div class="navbar-nav">
            <a class="nav-link" href="/"><strong>𝐇𝐎𝐌𝐄</strong></a>
            <a class="nav-link" href="/orders"><strong>𝐎𝐑𝐃𝐄𝐑𝐒</strong></a>
            <!-- Placeholder -->
          </div>
        </div>
      </nav>
    </header>

    <main class ="container">{% block content %}{% endblock %}</main>

    <footer>
      <!-- Footer Content Here -->
    </footer>

    <!-- Bootstrap JS Link -->
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>

  </body>
</html>
